<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.y2s2mad">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lab_Sheets.L4_Fragments"></activity>
        <activity android:name=".All_Tutorials.T5_DataHandling" />
        <activity android:name=".All_Tutorials.T2_Lifecycle" />
        <activity android:name=".All_Tutorials.T6_Firebase" />
        <activity android:name=".All_Tutorials.T4_ImageHandling" />
        <activity android:name=".LabSheets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tutorials"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>